<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PingThing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'pingthing/bootstrap/css/bootstrap.min.css' %}" >
    <style type="text/css">
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        xbackground: #FFF0F5;
      }
    </style>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'pingthing/bootstrap/css/bootstrap-responsive.css' %}">
  </head>

  <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">PingThing</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/admin">Admin</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

   
    <div class="container">
          
        {% block content_A %}{% endblock %}

    </div> <!-- /container -->
    <br><br>
     <div class="container">
          
        {% block content_B %}{% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{% static 'pingthing/bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript">      
        $(document).ready(function () {
            //Usage: $('#example').tooltip(options)
            $("a").tooltip({
              'selector': '',
              'placement': 'bottom'
            });
        });
    </script>
  </body>
</html>