{% if pingthing_pinglist %}
        <table class="table table-bordered">
            <th width="20">Status</th>
            <th>Title</th>
            <th>Details</th>
            <th>Date</th>
            <th>Action</th>
            {% for ping in pingthing_pinglist %}
                <tr>
                    <td width="20">
                        {% if ping.results %}
                            {% if ping.results|stringformat:"s" == "Success" %}
                                <span class="label label-success">Working</span>
                            {% else %}
                                <span class="label label-important">Failed</span>
                            {% endif %}
                        {% else %} 
                            <span class="label label-warning">Not Run Yet</span>
                        {% endif %}
                        </span>
                    </td><td>
                        {{ ping.title }}
                    </td><td>
                        <b>{{ ping.protocol }}</b>-{{ ping.target_ip }}:{{ ping.target_port }}
                    </td><td>
                        {{ ping.date }}
                    </td><td width="150">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                            <a class="btn btn-mini" href="/admin/pingthing/pingdefinition/{{ ping.id }}/" title="Edit Ping Details"><i class="icon-edit"></i></a>
                            <a class="btn btn-mini" href="/{{ ping.id }}/run/{{ ping.category.id }}" title="Run Ping Now"><i class="icon-refresh"></i></a>
                            <a class="btn btn-mini" href="/admin/pingthing/pingdefinition/add/?protocol=HTTP&category={{ ping.category.id }}" title="Create New Ping"><i class="icon-plus-sign"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
{% else %}
    No ping set-up at that level.. Would you like to <a href="/admin/pingthing/pingdefinition/add/?protocol=HTTP&category={{ pingthing_currentping.id }}" title="Add">create</a> one now?
{% endif %}